name: Deploy to EC2

on:
  push:
    branches:
      - main

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v3
      - name: Set up JDK 17
        uses: actions/setup-java@v3
        with:
          java-version: '17'
          distribution: 'adopt'
      - name: Make gradlew executable
        run: chmod +x ./gradlew
      - name: Setup Gradle
        uses: gradle/gradle-build-action@v2
      - name: Run assemble with Gradle Wrapper
        run: ./gradlew assemble
      - name: Login to Docker Hub
        uses: docker/login-action@v2.1.0
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_PASSWORD }}
      - name: Build Docker image
        run: docker build -t Eshopproject_backend .
      - name: Tag Docker image
        run: docker tag Eshopproject_backend ${{ secrets.DOCKERHUB_USERNAME }}/Eshopproject_backend:${{ github.sha }}
      - name: Push Docker image
        run: docker push ${{ secrets.DOCKERHUB_USERNAME }}/Eshopproject_backend:${{ github.sha }}
      - name: SSH into EC2 instance
        uses: appleboy/ssh-action@v0.1.6
        with:
          host: ${{ secrets.EC2_HOST }}
          username: ${{ secrets.EC2_USERNAME }}
          key: ${{ secrets.EC2_PRIVATE_KEY }}
          port: ${{ secrets.EC2_SSH_PORT }}
          script: |
            docker login
            docker pull ${{ secrets.DOCKERHUB_USERNAME }}/Eshopproject_backend:${{ github.sha }}
            docker stop Eshopproject_backend
            docker rm Eshopproject_backend
            docker run -d --name Eshopproject_backend -p 8080:8080 ${{ secrets.DOCKERHUB_USERNAME }}/Eshopproject_backend:${{ github.sha }}
